@use "../../styles/partials/globals" as *;

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: $color-light-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px $color-dark-green;

  @include tablet {
    margin: 2rem;
    padding: 2rem;
  }

  @include desktop {
    margin-top: 0;
    padding: 4rem;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 2rem auto;
  }

  &__image {
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px $color-dark-green;

    @include tablet {
      width: 18.75rem;
      height: 18.75rem;
      margin-bottom: 2rem;
    }

    @include desktop {
      width: 21.875rem;
      height: 21.875rem;
    }
  }
}

.details-container {
  &__name {
    @include header-mobile;
    color: $color-dark-green;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 0px 10px $color-dark-green;

    @include tablet {
      @include header-desktop-tablet;
      padding: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__size {
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 1rem;
    width: 30%;
    text-align: center;
    @include subheader-mobile;
    box-shadow: 0px 0px 10px $color-dark-green;

    @include tablet {
      padding: 2rem;
      @include subheader-desktop-tablet;
    }
  }

  &__price {
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 1rem;
    width: 30%;
    text-align: center;
    @include subheader-mobile;
    box-shadow: 0px 0px 10px $color-dark-green;

    @include tablet {
      padding: 2rem;
      @include subheader-desktop-tablet;
    }
  }

  &__image {
    background-color: $color-lightest-green;
    box-shadow: 0px 0px 10px $color-dark-green;
    border-radius: 20px;
    padding: 1rem;
    width: 50px;

    @include tablet {
      width: 5.375rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px $color-dark-green;

    @include tablet {
      padding: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__description {
    @include body-mobile;

    @include tablet {
      @include body-desktop-tablet;
    }
  }

  &__instructions {
    @include body-mobile;

    @include tablet {
      @include body-desktop-tablet;
    }
  }

  &__ingredients {
    @include body-mobile;

    @include tablet {
      @include body-desktop-tablet;
    }
  }

  &__button {
    @include buttons-mobile;
    padding: 0.5rem;
    background-color: $color-lightest-green;
    color: $color-dark-green;
    border: 1px solid $color-dark-green;

    @include tablet {
      @include buttons-desktop-tablet;
      padding: 0.75rem;
    }

    &:hover {
      background-color: $color-dark-green;
      color: $color-lightest-green;
      border: 1px solid $color-light-green;
    }
  }
}
