@use "../../styles/partials/globals" as *;

.main {
  display: flex;
  flex-direction: column;
  // background-color: $color-lightest-green;
}

.hero {
  display: flex;
  height: 200px;
  padding: 24px 16px;
  background-color: $color-light-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
}

.about {
  display: flex;
  height: 200px;
  padding: 24px 16px;
  background-color: $color-lightest-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
}

.story {
  display: flex;
  padding: 24px 16px;
  background-color: $color-light-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
}
