@use "../../styles/partials/globals" as *;

.main {
  display: flex;
  flex-direction: column;
  // background-color: $color-lightest-green;
}

.hero {
  display: flex;
  height: 200px;
  padding: 16px;
  background-color: $color-light-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    height: 400px;
    padding: 32px;
    margin: 0 32px 16px 32px;
  }

  @include desktop {
    margin: 0 64px 32px 64px;
    justify-content: space-around;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 0 auto 32px;
  }
}

.about {
  display: flex;
  height: 200px;
  padding: 16px;
  background-color: $color-lightest-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    height: 400px;
    padding: 32px;
    margin: 0 32px 16px 32px;
  }

  @include desktop {
    margin: 0 64px 32px 64px;
    justify-content: space-around;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 0 auto 32px;
  }
}

.story {
  display: flex;
  padding: 16px;
  background-color: $color-light-green;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    padding: 32px;
    margin: 0 32px 16px 32px;
  }

  @include desktop {
    padding: 64px;
    margin: 0 64px 32px 64px;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 0 auto 32px;
  }
}
