@use "../../styles/partials/globals" as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  padding: 16px;
  background-color: $color-light-green;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    margin: 32px;
    padding: 32px;
  }

  @include desktop {
    margin-top: 0;
    padding: 64px;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 32px auto;
  }
}

.profile-heading {
  display: flex;
  width: 100%;

  &__message {
    font-size: 16px;
    color: $color-dark-green;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: 5px 5px 5px $color-dark-green;
    width: 100%;

    @include tablet {
      @include header-desktop-tablet;
      padding: 32px;
      margin-bottom: 32px;
      text-align: start;
    }
  }
}

.profile-favourites {
  color: $color-dark-green;
  background-color: $color-lightest-green;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: 5px 5px 5px $color-dark-green;
  width: 100%;

  @include tablet {
    padding: 32px 64px 32px 32px;
  }

  &__title {
    font-size: 18px;
    padding-bottom: 8px;
    margin-bottom: 16px;

    @include tablet {
      font-size: 22px;
    }
  }
}

.profile-container {
  display: flex;
  flex-direction: column;

  &__button {
    @include buttons-mobile;
    padding: 8px;
    margin-top: 16px;
    background-color: $color-light-green;
    color: $color-dark-green;
    border: 1px solid $color-dark-green;

    @include tablet {
      @include buttons-desktop-tablet;
      padding: 12px;
    }

    &:hover {
      background-color: $color-dark-green;
      color: $color-lightest-green;
      border: 1px solid $color-lightest-green;
    }
  }
}
