@use "../../styles/partials/globals" as *;

.product {
  height: 150px;
  display: flex;
  background-color: $color-light-green;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    height: 200px;
    padding: 16px;
    margin: 0 0 32px 32px;
  }

  @include desktop {
    height: 300px;
    padding: 32px;
    // margin: 0 0 64px 64px;
  }

  @include desktopplus {
    max-width: 81rem;
    // margin: 0 auto;
  }

  &__link {
    text-decoration: none;

    @include tablet {
      width: 50%;
    }
  }

  &__image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    // object-position: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $color-dark-green;
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  color: $color-dark-green;

  &__name {
    text-align: center;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 8px;
    margin-left: 8px;
    font-size: 1rem;
    box-shadow: 5px 5px 5px $color-dark-green;

    @include tablet {
      padding: 16px;
      margin-left: 16px;
      font-size: 1.25rem;
    }

    @include desktop {
      padding: 32px;
      margin-left: 32px;
      font-size: 1.5rem;
    }
  }

  &__section {
    display: flex;
    width: 100%;
    padding: 16px 0 0 8px;

    @include tablet {
      padding: 16px 0 0 16px;
    }

    @include desktop {
      padding: 16px 0 0 32px;
    }
  }

  &__size {
    text-align: center;
    width: 50%;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 8px;
    font-size: 0.75rem;
    box-shadow: 5px 5px 5px $color-dark-green;

    @include tablet {
      padding: 16px;
      font-size: 1rem;
    }

    @include desktop {
      padding: 32px;
      font-size: 1.25rem;
    }
  }

  &__price {
    text-align: center;
    width: 50%;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 8px;
    margin-left: 8px;
    font-size: 0.75rem;
    box-shadow: 5px 5px 5px $color-dark-green;

    @include tablet {
      padding: 16px;
      margin-left: 16px;
      font-size: 1rem;
    }

    @include desktop {
      padding: 32px;
      margin-left: 32px;
      font-size: 1.25rem;
    }
  }
}
