$tablet-width: 48rem;
$desktop-width: 80rem;

$color-dark-green: #40513b;
$color-green: #609966;
$color-light-green: #9dc08b;
$color-lightest-green: #edf1d6;
$color-white: #ffffff;
$color-orange: #f97b22;
