@use "../../styles/partials/globals" as *;

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: $color-light-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px $color-dark-green;
  padding: 1rem 1rem 0 1rem;
  margin: 0 1rem 1rem 1rem;

  @include tablet {
    padding: 2rem 2rem 0 2rem;
    margin: 0 2rem 2rem 2rem;
  }

  @include desktop {
    padding: 4rem 4rem 2rem 4rem;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 2rem auto 0;
  }

  &__title {
    @include header-mobile;
    color: $color-dark-green;

    @include tablet {
      @include header-desktop-tablet;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color-lightest-green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px $color-dark-green;
    padding: 1rem;
    margin: 1rem 0;

    @include tablet {
      padding: 2rem;
      margin: 2rem 0;
    }

    @include desktop {
      padding: 4rem 6rem;
    }
  }

  &__form-container {
    width: 100%;
  }

  &__form-heading {
    color: $color-dark-green;
    font-size: 0.75rem;
    font-weight: 700;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__form-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid $color-dark-green;

    @include tablet {
      padding: 0.75rem;
      margin-top: 2rem;
    }
  }

  &__form-textarea {
    width: 100%;
    height: 6.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0 1rem 0;
    border-color: $color-dark-green;

    @include tablet {
      height: 9.375rem;
      padding: 0.75rem;
      margin: 1rem 0 2rem 0;
    }
  }

  &__form-button {
    @include buttons-mobile;
    padding: 0.5rem;
    background-color: $color-lightest-green;
    color: $color-dark-green;
    border: 1px solid $color-dark-green;

    @include tablet {
      @include buttons-desktop-tablet;
      padding: 0.75rem;
    }

    &:hover {
      background-color: $color-dark-green;
      color: $color-lightest-green;
      border: 1px solid $color-lightest-green;
    }
  }
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-lightest-green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px $color-dark-green;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    @include tablet {
      padding: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $color-dark-green;
    padding: 0 1rem;

    @include tablet {
      padding: 0 2rem;
    }
  }

  &__details-title {
    font-size: 0.75rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-dark-green;
    color: $color-dark-green;
    text-align: center;

    @include tablet {
      font-size: 1rem;
      padding-bottom: 0.75rem;
    }
  }

  &__details-button {
    font-size: 0.625rem;
    padding: 0.25rem;
    margin-top: 1rem;
    background-color: $color-lightest-green;
    color: $color-dark-green;
    border: 1px solid $color-dark-green;
    align-self: flex-end;

    @include tablet {
      font-size: 0.75rem;
      padding: 0.5rem;
    }

    &:hover {
      background-color: $color-dark-green;
      color: $color-lightest-green;
      border: 1px solid $color-lightest-green;
    }
  }

  &__details-timestamp {
    font-size: 10px;
    padding: 0.5rem 0;
    color: $color-dark-green;

    @include tablet {
      font-size: 0.75rem;
      padding: 1rem 0;
    }
  }

  &__details-name {
    font-size: 0.625rem;
    padding: 0.5rem 0;
    color: $color-dark-green;

    @include tablet {
      font-size: 0.75rem;
      padding: 1rem 0;
    }
  }

  &__details-content {
    font-size: 0.75rem;
    padding-top: 0.5rem;
    color: $color-dark-green;

    @include tablet {
      font-size: 0.875rem;
      padding-top: 0.75rem;
    }
  }
}
