@use "../../styles/partials/globals" as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: $color-light-green;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $color-dark-green;

  @include tablet {
    margin: 2rem;
    padding: 2rem;
  }

  @include desktop {
    margin-top: 0;
    padding: 4rem;
  }

  @include desktopplus {
    max-width: 81rem;
    margin: 2rem auto;
  }
}

.profile-heading {
  display: flex;
  width: 100%;

  &__message {
    font-size: 1rem;
    color: $color-dark-green;
    background-color: $color-lightest-green;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 5px 5px 5px $color-dark-green;
    width: 100%;

    @include tablet {
      @include header-desktop-tablet;
      padding: 2rem;
      margin-bottom: 2rem;
      text-align: start;
    }
  }
}

.profile-favourites {
  color: $color-dark-green;
  background-color: $color-lightest-green;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 5px 5px 5px $color-dark-green;
  width: 100%;

  @include tablet {
    padding: 2rem 4rem 2rem 2rem;
  }

  &__title {
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.375rem;
    }
  }
}

.profile-container {
  display: flex;
  flex-direction: column;

  &__button {
    @include buttons-mobile;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: $color-light-green;
    color: $color-dark-green;
    border: 1px solid $color-dark-green;

    @include tablet {
      @include buttons-desktop-tablet;
      padding: 0.75rem;
    }

    &:hover {
      background-color: $color-dark-green;
      color: $color-lightest-green;
      border: 1px solid $color-light-green;
    }
  }
}
