@use "../../styles/partials/globals" as *;

.element {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $color-lightest-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px $color-dark-green;
  color: $color-dark-green;

  @include tablet {
    padding: 2rem;
    margin-bottom: 2rem;
  }
}

.element-details {
  &__name {
    @include subheader-mobile;
    border-bottom: 1px solid $color-dark-green;
    padding-bottom: 0.5rem;
    font-weight: 600;

    @include tablet {
      @include subheader-desktop-tablet;
      padding-bottom: 1rem;
    }
  }

  &__description {
    @include body-mobile;
    padding-top: 0.5rem;

    @include tablet {
      @include body-desktop-tablet;
      padding-top: 1rem;
    }
  }
}
