@use "../../styles/partials/globals" as *;

.link {
  color: black;
  text-decoration: none;
  list-style: none;
}

.link-item {
  padding: 8px;

  &:hover {
    background-color: $color-light-green;
    color: $color-dark-green;
  }
}
